.home.text-center {
    margin: 0;
    padding: 0;
    background-image: url("https://www.wallpaperuse.com/wallp/0-4408_m.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    /* Asegúrate de que el fondo cubra al menos la altura de la ventana */
}